.theme-light .dashboard-panel {
  font-family: "Quicksand", sans-serif;
  background-color: #eee;
  --warp-view-bg-color: #fff;
  color: #404040;
  --warp-view-dashboard-background: #eee;
  --warp-view-font-color: #404040;
  --warp-view-chart-label-color: #6c757d;
  --warp-view-chart-legend-color: #6c757d;
  --warp-view-tile-background: #fff;
  --warp-view-chart-grid-color: #6c757d;
  font-size: 12px;
  line-height: 1.52;
}

.theme-dark .dashboard-panel {
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  line-height: 1.52;
  background-color: #333540;
  --warp-view-bg-color: #3A3C46;
  color: #FFFFFF;
  --warp-view-dashboard-background: #333540;
  --wc-split-gutter-color: #404040;
  --warp-view-pagination-bg-color: #343a40 !important;
  --warp-view-pagination-border-color: #6c757d;
  --warp-view-datagrid-odd-bg-color: rgba(255, 255, 255, .05);
  --warp-view-datagrid-odd-color: #FFFFFF;
  --warp-view-datagrid-even-bg-color: #212529;
  --warp-view-datagrid-even-color: #FFFFFF;
  --warp-view-font-color: #FFFFFF;
  --warp-view-chart-label-color: #FFFFFF;
  --gts-stack-font-color: #FFFFFF;
  --warp-view-resize-handle-color: #111111;
  --warp-view-chart-legend-bg: #000;
  --gts-labelvalue-font-color: #ccc;
  --gts-separator-font-color: #FFFFFF;
  --gts-labelname-font-color: rgb(105, 223, 184);
  --gts-classname-font-color: rgb(126, 189, 245);
  --warp-view-chart-legend-color: #FFFFFF;
  --warp-view-tile-background: #3A3C46;
  --warp-view-modal-bg-color: #333540;
  --warp-view-button-bg-color: #343a40;
  --warp-view-button-label-color: #FFFFFF;
  --warp-view-button-border-color: #6c757d;
  --warp-view-button-inactive-label-color: #6c757d;
}

.theme-dark-blue .dashboard-panel {
  --wc-split-gutter-color: #404040;
  --warp-view-pagination-bg-color: #343a40 !important;
  --warp-view-pagination-border-color: #6c757d;
  --warp-view-datagrid-odd-bg-color: rgba(255, 255, 255, .05);
  --warp-view-datagrid-odd-color: #FFFFFF;
  --warp-view-datagrid-even-bg-color: #212529;
  --warp-view-datagrid-even-color: #FFFFFF;
  --warp-view-font-color: #FFFFFF;
  --warp-view-chart-label-color: #FFFFFF;
  --gts-stack-font-color: #FFFFFF;
  --warp-view-resize-handle-color: #111111;
  --warp-view-chart-legend-bg: #000;
  --gts-labelvalue-font-color: #ccc;
  --warp-view-button-border-color: #02253C;
  --warp-view-button-label-color: #fff;
  --warp-view-button-bg-color: #045F9C;
  --warp-view-button-secondary-border-color: #ccc;
  --warp-view-button-secondary-bg-color: #ccc;
  --warp-view-button-secondary-label-color: rgba(41, 52, 65, 1);
  --warp-view-button-inactive-label-color: #ccc;
  --warp-view-button-inactive-bg-color: #02253C;
  --gts-separator-font-color: #fff;
  --gts-labelname-font-color: rgb(105, 223, 184);
  --gts-classname-font-color: rgb(126, 189, 245);
  --warp-view-chart-legend-color: #fff;
  --warp-view-tile-background: linear-gradient(127.09deg, rgba(6, 11, 40, 0.94) 19.41%, rgba(10, 14, 35, 0.49) 76.65%) border-box;
  --warp-view-dashboard-background: transparent;
  --warp-view-tile-border: none;
  --warp-view-tile-shadow: rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
  --warp-view-tile-border-radius: 1rem;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  line-height: 1.52;
  color: #fff;
  background: #000000 linear-gradient(147deg, #000000 0%, #04619f 74%);
  padding: 1rem;
  height: calc(100vh - 2rem);
}

.theme-green .dashboard-panel {
  --wc-split-gutter-color: #404040;
  --warp-view-pagination-bg-color: #343a40 !important;
  --warp-view-pagination-border-color: #6c757d;
  --warp-view-datagrid-odd-bg-color: rgba(255, 255, 255, .05);
  --warp-view-datagrid-odd-color: #FFFFFF;
  --warp-view-datagrid-even-bg-color: #212529;
  --warp-view-datagrid-even-color: #FFFFFF;
  --warp-view-font-color: #FFFFFF;
  --warp-view-chart-label-color: #FFFFFF;
  --gts-stack-font-color: #FFFFFF;
  --warp-view-resize-handle-color: #111111;
  --warp-view-chart-legend-bg: #000;
  --gts-labelvalue-font-color: #ccc;
  --gts-separator-font-color: #FFFFFF;
  --gts-labelname-font-color: rgb(105, 223, 184);
  --gts-classname-font-color: rgb(126, 189, 245);
  --warp-view-chart-legend-color: #FFFFFF;
  --wc-tab-header-color: #FFFFFF;
  --wc-tab-header-selected-color: #404040;
  --warp-view-tile-background: #40404066;
  --warp-view-dashboard-background: transparent;
  --warp-view-button-border-color: #1F4A4F;
  --warp-view-button-label-color: #1D434C;
  --warp-view-button-bg-color: #3BBC7D;
  --warp-view-button-secondary-border-color: #ccc;
  --warp-view-button-secondary-bg-color: #ccc;
  --warp-view-button-secondary-label-color: rgba(41, 52, 65, 1);
  --warp-view-button-inactive-label-color: #ccc;
  --warp-view-button-inactive-bg-color: #1F4A4F;
  font-size: 12px;
  line-height: 1.52;
  color: #1b1b1b;
  background: #FAFBFF linear-gradient(40deg, #3BBC7D, #1D434C) fixed;
  padding: 1rem;
  height: calc(100vh - 2rem);
}

.theme-fresh .dashboard-panel {
  --wc-split-gutter-color: #404040;
  --warp-view-pagination-bg-color: #343a40 !important;
  --warp-view-pagination-border-color: #6c757d;
  --warp-view-datagrid-odd-bg-color: rgba(255, 255, 255, .05);
  --warp-view-datagrid-odd-color: #FFFFFF;
  --warp-view-datagrid-even-bg-color: #212529;
  --warp-view-datagrid-even-color: #FFFFFF;
  --warp-view-font-color: #AEAEDD;
  --warp-view-chart-label-color: #AEAEDD;
  --gts-stack-font-color: #AEAEDD;
  --warp-view-resize-handle-color: #111111;
  --warp-view-chart-legend-bg: #000;
  --gts-labelvalue-font-color: #ccc;
  --gts-separator-font-color: #AEAEDD;
  --gts-labelname-font-color: rgb(105, 223, 184);
  --gts-classname-font-color: rgb(126, 189, 245);
  --warp-view-chart-legend-color: #AEAEDD;
  --warp-view-tile-background: #FAFCFF;
  --warp-view-dashboard-background: transparent;
  --warp-view-tile-border: none;
  --warp-view-tile-shadow: none;
  --warp-view-button-border-color: #AEAEDD;
  --warp-view-button-label-color: #fff;
  --warp-view-button-bg-color: #AEAEDD;
  --warp-view-button-secondary-border-color: #6e7074;
  --warp-view-button-secondary-bg-color: #333333;
  --warp-view-button-secondary-label-color: #fff;
  --warp-view-button-inactive-label-color: #AEAEDD;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  line-height: 1.52;
  color: #AEAEDD;
  background: #fff;
  padding: 1rem;
  height: calc(100vh - 2rem);
}

.theme-chalk .dashboard-panel {
  font-family: "Quicksand", sans-serif;
  background-color: #293441;
  color: #ffffff;
  font-size: 12px;
  line-height: 1.52;
  --warp-view-font-color: #ffffff;
  --warp-view-chart-label-color: #ffffff;
  --warp-view-chart-grid-color: #666666;
  --warp-view-spinner-color: #ffffff;
  --warp-view-modal-bg-color: #72CCFF33;
  --warp-view-button-border-color: #76f2f2;
  --warp-view-button-label-color: #293441;
  --warp-view-button-bg-color: #72ccff;
  --warp-view-button-secondary-border-color: #ccc;
  --warp-view-button-secondary-bg-color: #ccc;
  --warp-view-button-secondary-label-color: #293441;
  --warp-view-button-inactive-label-color: #ccc;
  --warp-view-button-inactive-bg-color: #293441;
  --warp-view-input-border-color: #ccc;
  --warp-view-input-label-color: #ffffff;
  --warp-view-input-bg-color: #293441;
  --warp-view-active-input-bg-color: #293441;
  --warp-view-handle-bg-color: #72ccff;
  --warp-view-tooltip-bg-color: #72ccff;
  --warp-view-tooltip-label-color: #293441;
  --warp-view-tooltip-border-color: #76f2f2;
  --warp-view-dashboard-background: #293441;
  --warp-view-tile-border: #ccc;
  --warp-view-tile-shadow: none;
  --warp-view-tile-background: transparent;
  --warp-view-datagrid-odd-bg-color: #72CCFF33;
  --warp-view-datagrid-odd-color: #fff;
  --warp-view-datagrid-even-bg-color: transparent;
  --warp-view-datagrid-even-color: #fff;
  --warp-view-pagination-border-color: #ccc;
  --warp-view-pagination-bg-color: transparent;
  --warp-view-pagination-active-bg-color: #72CCFF33;
  --warp-view-pagination-active-color: #fff;
  --warp-view-pagination-active-border-color: #ccc;
  --warp-view-pagination-hover-bg-color: #72ccff;
  --warp-view-pagination-hover-color: #293441;
  --warp-view-pagination-hover-border-color: #293441;
  --warp-view-pagination-disabled-color: #293441;
}

.theme-vintage .dashboard-panel {
  font-family: "Quicksand", sans-serif;
  background-color: rgb(254, 248, 239);
  color: #333333;
  font-size: 12px;
  line-height: 1.52;
  --warp-view-font-color: #333333;
  --warp-view-chart-label-color: #333333;
  --warp-view-chart-grid-color: #666666;
  --warp-view-spinner-color: #d87c7c;
  --warp-view-modal-bg-color: $bg;
  --warp-view-button-border-color: #6e7074;
  --warp-view-button-label-color: #fff;
  --warp-view-button-bg-color: #333333;
  --warp-view-button-secondary-border-color: #6e7074;
  --warp-view-button-secondary-bg-color: #333333;
  --warp-view-button-secondary-label-color: #fff;
  --warp-view-button-inactive-label-color: #6c757d;
  --warp-view-input-border-color: #ccc;
  --warp-view-input-label-color: #333333;
  --warp-view-input-bg-color: #fff;
  --warp-view-active-input-bg-color: #fff;
  --warp-view-handle-bg-color: #d87c7c;
  --warp-view-tooltip-bg-color: #333333;
  --warp-view-tooltip-label-color: #fff;
  --warp-view-tooltip-border-color: #333333;
  --warp-view-dashboard-background: rgb(254, 248, 239);
  --warp-view-tile-border: none;
  --warp-view-tile-shadow: none;
  --warp-view-tile-background: transparent;
  --warp-view-datagrid-odd-bg-color: #61a0a8;
  --warp-view-datagrid-odd-color: #fff;
  --warp-view-datagrid-even-bg-color: transparent;
  --warp-view-datagrid-even-color: #333333;
  --warp-view-pagination-border-color: #ccc;
  --warp-view-pagination-bg-color: transparent;
  --warp-view-pagination-active-bg-color: #d87c7c;
  --warp-view-pagination-active-color: #fff;
  --warp-view-pagination-active-border-color: #ccc;
  --warp-view-pagination-hover-bg-color: #61a0a8;
  --warp-view-pagination-hover-color: #fff;
  --warp-view-pagination-hover-border-color: #fff;
  --warp-view-pagination-disabled-color: #aaaaaa;
}

/*# sourceMappingURL=index.css.map */